.announcement-content {
    border: none;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    padding: 20px;

    > div:first-of-type {
        width: 33%;
        max-width: 200px;
    }

    > div:nth-of-type(2) {
        flex: 1;
        padding-left: 10px;
        font-size: 1rem;
        
        h3 {
            font-size: 1.5rem;
        }

        .action-button-wrapper {
            display: flex;
            flex-direction: row;
            gap: 10px;

            a {
                padding: 7px 14px;
                border-radius: 30px;

                &:hover {
                    text-decoration: none;
                }
            }

            .primary-button {
                background-color: #000;
                color: #fff;
            }
        }
    }
}